# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Uploads & temporary files
uploads/
temp/

# Editor & OS
.DS_Store
.vscode/
.idea/
